/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/database
/nbproject/
public/accom_venu_promo_images
public/room_images
public/confer_images
public/venu_images
public/extra_images
